<h1>ngFor</h1>
<div *ngFor="let color of colors index as i; first as isFirst">{{isFirst}}{{i}}{{color}}</div>
<hr>
<h1>for</h1>
@for (color of colors; track color) {
<div>{{$first}}{{$index}}{{color}}</div>
}
<hr>
<h1>if</h1>
@if (displayName){
<div>Name {{name}}</div>
}@else{
<div>Name</div>
}
<div>
    <input type="text" (keyup)="onKeyup($event)">
</div>
<hr>
<h1>ngIf</h1>
<div *ngIf="displayLastName">Last Name {{lastName}}</div>
<div *ngIf="!displayLastName">Last Name</div>
<input type="text" [(ngModel)]="lastName">



<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">col-12 md:col-6 lg:col-3</div>
    </div>
</div>