<p-panel header="Title">
  <form [formGroup]="employeeForm">
  <div class="grid">
    <div class="col-2">
      Department
    </div>
    <div class="col-4">
      <p-dropdown placeholder="Select a Department" [options]="departments" formControlName="department" optionLabel="name">
      </p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      Gender
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-2">
          <p-radioButton value="F" label="Female" formControlName="gender">
          </p-radioButton>
        </div>
        <div class="col-2">
          <p-radioButton value="M" label="Male" formControlName="gender">
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      FirstName
    </div>
    <div class="col-4">
      <input type="text" pInputText formControlName="firstName" />
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      LastName
    </div>
    <div class="col-4">
      <input type="text" pInputText formControlName="lastName" />
    </div>
  </div>
</form>
</p-panel>
<div class="col-1">
  <button pButton pRipple label="Add" (click)="gotoSave()"></button>
</div>
<p-table [value]="employeeService.employees" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th id="firstName">FirstName</th>
      <th id="lastName">LastName</th>
      <th id="gender">Gender</th>
      <th id="department">Department</th>
      <th id="edit"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.department.name}}</td>
      <td class="flex-space-around">
        <a class="pi pi-pencil" [routerLink]="['/save' , employee.id ]"></a>
      </td>
    </tr>
  </ng-template>
</p-table>